
<% if(typeof post === 'undefined') post = null; %>
<div class="card card-background">
    <div class="card-body">

<form action="/posts" class="" id="diaryform" onsubmit="return validateDiary()"  method="post">
  <% if(post){ %> <input type="hidden" name="update" value="true" > <% } %>
  <% if(post){ %> <input type="hidden" name="id" value="<%= post.id %>" > <% } %>

  <div class="mb-4 row">
    <div class="col-10">
      <label class="question-label" for="date">Datum när jag lade mig i sängen</label>
    </div>
    <div class="col-2">
      <button type="button" class="info" data-bs-toggle="collapse" data-bs-target="#collapseDatumSang" aria-expanded="false" aria-controls="collapseDatumSang">i</button>
        </div>
  </div>
<div class="mb-4 row">
      <div class="collapse" id="collapseDatumSang">
        <div class="card card-body infocard">
              <i>  <b>Förtydligande:</b> Har du till exempel precis vaknat från en natts sömn och ska göra ett inlägg så ska du skriva in gårdagens datum här.
              </i>
        </div>
      </div>
  </div>
<div class="mb-4 row">
      <input required=required type="date" class="form-control blue-input-frame"  id="down_date" name="down_date" onchange="validate_sleep_date();" value="<%= (post) ? moment(post.down, 'X').format("YYYY-MM-DD") : moment().subtract(1, 'day').format("YYYY-MM-DD"); %>"  class="form-control">
</div>



<hr class="linje-ny-dagbok">


  <div class="disabler">

      <div class="mb-4  row" data-autoclose="true">
        <div class="col-10">
            <label class="question-label" for="sleep_time">Klockslag jag lade mig i sängen</label>
          </div>
        <div class="col-2">
            <button type="button" class="info" data-bs-toggle="collapse" data-bs-target="#collapseklockslagSang" aria-expanded="false" aria-controls="collapseklockslagSang" >i</button>
        </div>
      </div>
            <div class="mb-4 row">
                  <div class="collapse" id="collapseklockslagSang">
                    <div class="card card-body infocard">
                          <i>  <b>Förtydligande:</b> Har du till exempel precis vaknat från en natts sömn och ska göra ett inlägg så ska du skriva in tiden du la dig i sängen igår.
                          </i>
                    </div>
                  </div>
              </div>
      <div class="mb-4 clockpicker input-group row" data-autoclose="true">
          <input type="text" pattern="^[0-9]{2}:[0-9]{2}" class="form-control blue-input-frame liten-ruta" required="1" name="down_time" id="down_time" value="<%= (post) ? moment(post.down, 'X').format("HH:MM")  : '' %>" >
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
          </span>
      </div>



<hr class="linje-ny-dagbok">

      <div class="mb-4 row">
        <div class="col-10">
            <label class="question-label flex-column-center" for="awake">Total tid jag låg vaken i sängen</label>
        </div>
        <div class="col-2">
          <button type="button" class="info" data-bs-toggle="collapse" data-bs-target="#collapseTidVaken" aria-expanded="false" aria-controls="collapseTidVaken">i</button>
          <!--  <input type="text" name="slider-target" class="blue-input-frame" id="awake-slider-target" value="0">
            <input required=required type="range" min=0 max=1080 step="10" name="awake" id="awake-slider" class="form-range" value=0>
            -->
          </div>
        </div>
            <div class="mb-4 row">
                  <div class="collapse" id="collapseTidVaken">
                    <div class="card card-body infocard">
                          <i>  <b>Förtydligande:</b> Hur länge uppskattar du att låg vaken i sängen och försökte somna innan du lyckades?
                          </i>
                    </div>
                  </div>
              </div>

        <div class="mb-4 row">
              <div class="tid-dropdown">
                      <div>
                      <select class=" blue-input-frame " aria-label="Default select example" name="awake_hours">

                      <% var hours = (post) ? post.hours_awake : 0; %>
                        <option selected value="<%= hours %>"><%= hours %> h</option> 
                        <option value="0">0 h</option>
                        <option value="3600">1 h</option>
                        <option value="7200">2 h</option>
                        <option value="10800">3 h</option>
                        <option value="14400">4 h</option>
                        <option value="18000">5 h</option>
                        <option value="21600">6 h</option>
                        <option value="25200">7 h</option>
                        <option value="28800">8 h</option>
                        <option value="32400">9 h</option>
                        <option value="36000">10+ h</option>
                      </select>
                      </div>
                      <div>
                      <select class=" blue-input-frame " aria-label="Default select example"  name="awake_minutes">
                      <% var minutes = (post) ? post.minutes_awake : 0; %>
                        <option selected value="<%= minutes %>"><%= minutes %> min</option>
                        <option value="600">10 min</option>
                        <option value="1200">20 min</option>
                        <option value="1800">30 min</option>
                        <option value="2400">40 min</option>
                        <option value="3000">50 min</option>
                      </select>
                      </div>

                </div>
        </div>


<hr class="linje-ny-dagbok">


  <div class="mb-4 row">
    <div class="col-10">
        <label class="question-label" for="date">Datum när jag klev upp ur sängen</label>
      </div>
    <div class="col-2">
        <button type="button" class="info" data-bs-toggle="collapse" data-bs-target="#collapseDatumUpp" aria-expanded="false" aria-controls="collapseDatumUpp">i</button>
    </div>
  </div>
          <div class="mb-4 row">
                <div class="collapse" id="collapseDatumUpp">
                  <div class="card card-body infocard">
                        <i>  <b>Förtydligande:</b> Har du till exempel precis vaknat från en natts sömn och ska göra ett inlägg så ska du skriva in dagens datum här.
                        </i>
                  </div>
                </div>
            </div>
  <div class="mb-4 row">
    <input required=required type="date" class="form-control blue-input-frame" id="up_date" name="up_date" onchange="validate_up_date();" value="<%= (post) ? moment(post.up, 'X').format("YYYY-MM-DD") : moment().format("YYYY-MM-DD"); %>"  class="form-control">
  </div>
  <!-- WARNING FIELD - HIDDEN -->
  <div id="up_date_warning" class="collapse alert alert-danger" role="alert">
      Obs! Detta datum finns redan sparat sedan tidigare 
  </div>  


<hr class="linje-ny-dagbok">

      <div class="mb-4 clockpicker row" data-autoclose="true">
            <div class="col-10">
              <label class="question-label" for="sleep_time">Klockslag jag klev upp ur sängen</label>
                </div>
            <div class="col-2">
              <button type="button" class="info" data-bs-toggle="collapse" data-bs-target="#collapseKlockslagUpp" aria-expanded="false" aria-controls="collapseKlockslagUpp">i</button>
            </div>
      </div>
      <div class="mb-4 row">
            <div class="collapse" id="collapseKlockslagUpp">
              <div class="card card-body infocard">
                    <i>  <b>Förtydligande:</b> Har du till exempel  precis vaknat från en natts sömn och ska göra ett inlägg så ska du skriva in tiden du vaknade idag.
                    </i>
              </div>
            </div>
        </div>

      <div class="mb-4 clockpicker row" data-autoclose="true">
              <input type="text" pattern="^[0-9]{2}:[0-9]{2}" class="form-control blue-input-frame liten-ruta" required="1" name="up_time" id="up" value="<%= (post) ? moment(post.up, 'X').format("HH:MM") : ""; %>">
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span>
              </span>
      </div>

<hr class="linje-ny-dagbok">


      <div class="mb-4 row">
        <div class="col-10">
          <label class="question-label" for="rate">Skattad sömnkvalitét</label>
            </div>
        <div class="col-2">
          <button type="button" class="info" data-bs-toggle="collapse" data-bs-target="#collapseKvalitet" aria-expanded="false" aria-controls="collapseKvalitet">!</button>
        </div>
      </div>
      <div class="mb-4 row">
            <div class="collapse" id="collapseKvalitet">
              <div class="card card-body infocard">
                    <i>  <b>Förtydligande:</b> Saker som kan påverka din sömnkvalitet är t.ex. om du har vaknat mycket under natten eller om du har du sovit oroligt.
                    </i>
              </div>
            </div>
        </div>
      <div class="mb-4 row">
        <div class="col stars">
          <div class="rate">
              <input type="radio" id="star5" name="rate" value="5" <% if(post && post.rate == 5){ %> checked=checked <% } %>/>
              <label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="rate" value="4" <% if(post && post.rate == 4){ %> checked=checked <% } %>/>
              <label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="rate" value="3" <% if(post && post.rate == 3){ %> checked=checked <% } %>/>
              <label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="rate" value="2" <% if(post && post.rate == 2){ %> checked=checked <% } %>/>
              <label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="rate" value="1" <% if(post && post.rate == 1){ %> checked=checked <% } %>/>
              <label for="star1" title="text">1 star</label> 
         </div>

        </div>

      </div>
        <!-- WARNING FIELD - HIDDEN -->
        <div id="rate_warning" class="collapse alert alert-danger" role="alert">
            Vänligen ange skattad sömnkvalitét 
        </div>  


<hr class="linje-ny-dagbok">

    <div class="row">
      <div class="col">
          <div class="mb-4">
            <% if(post){ %> 
              
                <button type="reset" value="Avbryt" class="btn btn-primary btn-avbryt" onclick="return window.history.back();">Avbryt</button>
              

            <% } else { %>
              <input type="reset" value="Avbryt" class="btn btn-primary btn-avbryt" data-bs-toggle="collapse" data-bs-target="#form_row">
            <% } %>

            <input type="submit" value="Spara" class="btn btn-primary btn-spara">
          </div>


        </div>
      </div>
   </div> <!-- Disabler -->

</form>

</div>
</div>
