
<div class="card card-background">
<div class="card-body">




  <div class="sleepview-card">
    <div class="">
      <h2> Sömnfönster </h2>
    </div>

    <div class="info-sleepview">
      <button type="button" class="info " data-bs-toggle="collapse" data-bs-target="#collapseDatumSang" aria-expanded="false" aria-controls="collapseDatumSang">i</button>
    </div>
  </div>


  <div class="row">
      <div class="collapse" id="collapseDatumSang">
        <div class="card card-body infocard">
              <i>  Ditt sömnfönster är den tid du bestämt med din behandlare att du ska stiga upp och gå och lägga dig.
              </i>
        </div>
      </div>
  </div>


  <div class="sleep-row">
      <div class="sleepview">
        Sänggång: <span class="sleepview2"> <%= user.windown %> </span>
      </div>
      <div class="sleepview">
        Kliva upp: <span class="sleepview2"> <%= user.winup %> </span>
      </div>
     </div>

  <div class="sleep-row">
    <button type="button" class=" btn btn-primary btn-redigera" data-bs-toggle="collapse"
    data-bs-target="#collapsesleepview" aria-expanded="false"
    aria-controls="collapsesleepview"><i class="fa fa-pencil"></i> Redigera </button>
  <!--  <a class="edit-post-link" href="/">
    <button class="btn btn-primary btn-redigera"><i class="fa fa-pencil"></i> Redigera </button>
    </a> -->
  </div>

  <div class="collapse" id="collapsesleepview">
    <div class="">
      <hr class="linje-smiley">

      <form action="/users/<%= user.id %>/update" method="POST">
        <h4>Ändra sömnfönster</h4>
        <input type="hidden" method="PUT">
        <div class="sleepview-edit">
            <div class="veckans-tips">
              <div class="">
                Sänggång: 
              </div>
              <div class="clockpicker" data-autoclose="true">
                  <input type="text" class= "blue-input-frame liten-ruta" name="windown" id="windown" value="<%= user.windown %>">
              </div>
            </div>

            <div class="veckans-tips">
              <div class="">
                Kliva upp:
              </div>
              <div class="clockpicker" data-autoclose="true">
                <input type="text" class= "blue-input-frame liten-ruta" name="winup" id="winup" value="<%= user.winup %>">
              </div>
            </div>
        </div>

        <br>

        <input type="submit" class="btn btn-primary btn-spara" value="Spara" name="submitbutton">

      </form>
    </div>
  </div>



<div class="sleep-row collapse">
  <div class="smiley">
    <svg class="" width="108" height="108" viewBox="0 0 108 108" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="54" cy="54" r="54" fill="#F1E894"/>
    <line x1="33" y1="40" x2="33" y2="51" stroke="#413207" stroke-width="8" stroke-linecap="round"/>
    <line x1="75" y1="40" x2="75" y2="51" stroke="#413207" stroke-width="8" stroke-linecap="round"/>
    <path d="M29 70C38.3038 87.4213 68.0676 87.2452 78 70" stroke="#42350A" stroke-width="6"/>
    </svg>
  </div>
  <div class="veckans-tips">
    <p>Bra jobbat! Vid din senaste registrerade natt så sov du inom ditt sömnfönster.</p>
  </div>

</div>



</div>
</div>
