
<div class="card card-background">
<div class="card-body">




  <div class="row">
    <div class="col-10">
      <h2> Sömnfönster </h2>
    </div>

    <div class="col-2">
      <button type="button" class="info" data-bs-toggle="collapse" data-bs-target="#collapseDatumSang" aria-expanded="false" aria-controls="collapseDatumSang">i</button>
    </div>
  </div>


  <div class="row">
      <div class="collapse" id="collapseDatumSang">
        <div class="card card-body infocard">
              <i>  Ditt sömnfönster är den tid du bestämt med din behandlare att du ska stiga upp och gå och lägga dig.
              </i>
        </div>
      </div>
  </div>


  <div class="sleep-row">
      <div class="sleepview">
        Sänggång: <span class="sleepview2"> <%= user.windown %> </span>
      </div>
      <div class="sleepview">
        Kliva upp: <span class="sleepview2"> <%= user.winup %> </span>
      </div>
  </div>

  <hr class="linje-smiley">

  <form action="/users/<%= user.id %>/update" method="POST">
    <h4>Ändra sömnfönster</h4>
    <input type="hidden" method="PUT">
    <div class="clockpicker" data-autoclose="true">
        <input type="text" name="windown" id="windown" value="<%= user.windown %>">    
    </div>

    <div class="clockpicker" data-autoclose="true">
      <input type="text" name="winup" id="winup" value="<%= user.winup %>">    
    </div>

    <input type="submit" value="Spara" name="submitbutton">

  </form>


</div>
</div>
