
<div class="card card-background">
<div class="card-body">




  <div class="sleepview-card">
    <div class="">
      <h2> Sömnfönster </h2>
    </div>

    <div class="info-sleepview">
      <button type="button" class="info " data-bs-toggle="collapse" data-bs-target="#collapseSleepwindow" aria-expanded="false" aria-controls="collapseDatumSang">i</button>
    </div>
  </div>


  <div class="row">
      <div class="collapse" id="collapseSleepwindow">
        <div class="card card-body infocard">
              <i>  Ditt sömnfönster är den tid du bestämt med din behandlare att du ska stiga upp och gå och lägga dig.
              </i>
        </div>
      </div>
  </div>


  <div class="sleep-row">
      <div class="sleepview">
        Sänggång: <span class="sleepview2"> <%= user.windown %> </span>
      </div>
      <div class="sleepview">
        Kliva upp: <span class="sleepview2"> <%= user.winup %> </span>
      </div>
     </div>

  <div class="sleep-row">
    <button type="button" class=" btn btn-primary btn-redigera hide-me" data-bs-toggle="collapse"
    data-bs-target="#collapsesleepview" data-target="#search" aria-expanded="false"
    aria-controls="collapsesleepview"><i class="fa fa-pencil"></i> Redigera </button>
  <!--  <a class="edit-post-link" href="/">
    <button class="btn btn-primary btn-redigera"><i class="fa fa-pencil"></i> Redigera </button>
    </a> -->
  </div>

  <div class="collapse" id="collapsesleepview">
    <div class="">
      <hr class="linje-smiley">

      <form action="/users/<%= user.id %>/update" method="POST">
        <h4>Ändra sömnfönster</h4>
        <input type="hidden" method="PUT">
        <div class="sleepview-edit">
            <div class="veckans-tips">
              <div class="">
                Sänggång:
              </div>
              <div class="clockpicker" data-autoclose="true">
                  <input type="text" class= "blue-input-frame liten-ruta" name="windown" id="windown" value="<%= user.windown %>">
              </div>
            </div>

            <div class="veckans-tips">
              <div class="">
                Kliva upp:
              </div>
              <div class="clockpicker" data-autoclose="true">
                <input type="text" class= "blue-input-frame liten-ruta" name="winup" id="winup" value="<%= user.winup %>">
              </div>
            </div>
        </div>

        <br>

        <button type="button" class=" btn btn-primary btn-avbryt" data-bs-toggle="collapse"
                data-bs-target="#collapsesleepview" aria-expanded="false"
                aria-controls="collapsesleepview"> Avbryt </button>

        <input type="submit" class="btn btn-primary btn-spara" value="Spara" name="submitbutton">

      </form>
    </div>
  </div>



</div>
</div>
