<%
var WAKE_TIME_HOURS = [
      [0,     '0'],
      [3600,  '1'],
      [7200,  '2'],
      [10800, '3'],
      [14400, '4'],
      [18000, '5'],
      [21600, '6'],
      [25200, '7'],
      [28800, '8'],
      [32400, '9'],
      [36000, '10']
    ];

var WAKE_TIME_MINUTES = [
      [0,  '0'],
      [600,  '10'],
      [1200, '20'],
      [1800, '30'],
      [2400, '40'],
      [3000, '50']
    ];
 
if(typeof post === 'undefined') post = null; 

%>

<%- include('_head') %>

<div class="container">
  <div class="row">

    <div class="col-md-3"></div>
    <div class="col-md-6 col-12 align-self-center">
      <h3>
        <%= (post) ? "Redigera inlägg" : "Skapa nytt inlägg"; %> 
      </h3>


<!--  Reset indenting-->
<div class="card card-background">
    <div class="card-body">

<form action="/posts" class="" id="diaryform" method="post">


  <% if(post){ %> <input type="hidden" name="update" value="true" id="update"> <% } %>
  <% if(post){ %> <input type="hidden" name="id" value="<%= post_id %>" > <% } %>

  <input type="hidden" name="windown" value="<%= user.windown %>">
  <input type="hidden" name="winup" value="<%= user.winup %>">


  <!-- DATUM FÖR SÄNGGÅNG -->
  <div class="mb-4 row">
    <div class="col-10">
      <label class="question-label" for="date">Datum när jag lade mig i sängen</label>
    </div>
    <div class="col-2">
      <button type="button" class="info" data-bs-toggle="collapse" data-bs-target="#collapseDatumSang" aria-expanded="false" aria-controls="collapseDatumSang">i</button>
        </div>
  </div>


<div class="mb-4 row">
      <div class="collapse" id="collapseDatumSang">
        <div class="card card-body infocard">
              <i>  <b>Förtydligande:</b> Har du till exempel precis vaknat från en natts sömn och ska göra ett inlägg så ska du skriva in gårdagens datum här.
              </i>
        </div>
      </div>
  </div>

<div class="mb-4 row">

    <input  required=required
            type="date"
            class="form-control blue-input-frame"
            id="down_date"
            name="down_date"
            value="<%= (post) ? moment(post.down, 'X').format("YYYY-MM-DD") : moment().subtract(1, 'day').format("YYYY-MM-DD"); %>"
            class="form-control">
</div>

<div id="down_date_warning" class="alert alert-danger collapse" role="alert"></div>


<hr class="linje-ny-dagbok">


  <!-- KLOCKSLAG FÖR SÄNGGÅNG -->
      <div class="mb-4  row" data-autoclose="true">
        <div class="col-10">
            <label class="question-label" for="sleep_time">Klockslag jag lade mig i sängen</label>
          </div>
        <div class="col-2">
            <button type="button" class="info" data-bs-toggle="collapse" data-bs-target="#collapseklockslagSang" aria-expanded="false" aria-controls="collapseklockslagSang" >i</button>
        </div>
      </div>
      <div class="mb-4 row">
            <div class="collapse" id="collapseklockslagSang">
              <div class="card card-body infocard">
                    <i>  <b>Förtydligande:</b> Har du till exempel precis vaknat från en natts sömn och ska göra ett inlägg så ska du skriva in tiden du la dig i sängen igår. Formatet måste vara "23:30"
                    </i>
              </div>
            </div>
        </div>

      <div class="mb-4 clockpicker input-group row" data-autoclose="true">
          <input type="text"
                  placeholder="00:00"
                  required=required
                  pattern="^[0-9]{2}:[0-9]{2}"
                  class="form-control blue-input-frame liten-ruta"
                  name="down_time"
                  id="down_time"
                  value="<%= (post) ? moment(post.down, 'X').format("HH:mm")  : '' %>"
                  oninvalid="this.setCustomValidity('Ange klockslag med rätt format här')"
                  oninput="this.setCustomValidity('')">
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
          </span>
      </div>

<div id="down_time_warning" class="alert alert-danger collapse" role="alert"></div>


<hr class="linje-ny-dagbok">




<!-- DATUM KLEV UPP UR SÄNGEN -->
  <div class="mb-4 row">
    <div class="col-10">
        <label class="question-label" for="date">Datum när jag klev upp ur sängen</label>
      </div>
    <div class="col-2">
        <button type="button" class="info" data-bs-toggle="collapse" data-bs-target="#collapseDatumUpp" aria-expanded="false" aria-controls="collapseDatumUpp">i</button>
    </div>
  </div>
          <div class="mb-4 row">
                <div class="collapse" id="collapseDatumUpp">
                  <div class="card card-body infocard">
                        <i>  <b>Förtydligande:</b> Har du till exempel precis vaknat från en natts sömn och ska göra ett inlägg så ska du skriva in dagens datum här.
                        </i>
                  </div>
                </div>
            </div>
  <div class="mb-4 row">
    <input required=required
            type="date"
            class="form-control blue-input-frame"
            id="up_date"
            name="up_date"
            value="<%= (post) ? moment(post.up, 'X').format("YYYY-MM-DD") : moment().format("YYYY-MM-DD"); %>"
            class="form-control">
  </div>
  <!-- WARNING FIELD - HIDDEN -->
  <div id="up_date_warning" class="collapse alert alert-danger" role="alert">
      Obs! Detta datum finns redan sparat sedan tidigare, är det säkert att du vill ange detta datum?
  </div>

<div id="up_date_warning" class="alert alert-danger collapse" role="alert"></div>


<hr class="linje-ny-dagbok">



    <!-- KLOCKSLAG KLEV UPP UR SÄNGEN -->
      <div class="mb-4 clockpicker row" data-autoclose="true">
            <div class="col-10">
              <label class="question-label" for="sleep_time">Klockslag jag klev upp ur sängen</label>
                </div>
            <div class="col-2">
              <button type="button" class="info" data-bs-toggle="collapse" data-bs-target="#collapseKlockslagUpp" aria-expanded="false" aria-controls="collapseKlockslagUpp">i</button>
            </div>
      </div>
      <div class="mb-4 row">
            <div class="collapse" id="collapseKlockslagUpp">
              <div class="card card-body infocard">
                    <i>  <b>Förtydligande:</b> Har du till exempel  precis vaknat från en natts sömn och ska göra ett inlägg så ska du skriva in tiden du vaknade idag.
                    </i>
              </div>
            </div>
        </div>

      <div class="mb-4 clockpicker row" data-autoclose="true">
        <input  type="text"
                required=required
                placeholder="00:00"
                pattern="^[0-9]{2}:[0-9]{2}"
                class="form-control blue-input-frame liten-ruta"
                name="up_time"
                id="up_time"
                value="<%= (post) ? moment(post.up, 'X').format("HH:mm") : ""; %>" >

        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>

<div id="up_time_warning" class="alert alert-danger collapse" role="alert"></div>

<hr class="linje-ny-dagbok">




<!-- TOTALT TID VAKEN I SÄNGEN -->
      <div class="mb-4 row">
        <div class="col-10">
            <label class="question-label flex-column-center" for="awake">Total tid vaken under önskad sömntid.</label>
        </div>
        <div class="col-2">
          <button type="button" class="info" data-bs-toggle="collapse" data-bs-target="#collapseTidVaken" aria-expanded="false" aria-controls="collapseTidVaken">i</button>

          </div>
        </div>
            <div class="mb-4 row">
                  <div class="collapse" id="collapseTidVaken">
                    <div class="card card-body infocard">
                          <i>  <b>Förtydligande:</b> Hur länge tror du att du legat vaken i sängen?
                            Du ska räkna in tiden du låg vaken i sängen innan du somnade + tiden du legat vaken under natten om du vaknat vid något tillfälle +
                            tiden du låg kvar i sängen efter du vaknat på morgonen.
                          </i>
                    </div>
                  </div>
              </div>

        <div class="mb-4 row">
              <div class="tid-dropdown">
                      <div>
                        <select class=" blue-input-frame " aria-label="Default select example" id="awake_hours" name="awake_hours">
                          <% var selected_var;
                             for(var pair of WAKE_TIME_HOURS){ 
                             if(post) selected_var = (pair[1] == post.hours_awake) ? "selected" : "";
                          %>
                            <option <%= selected_var %> value="<%= pair[0] %>"><%= pair[1] %> h</option> 
                          <% } %> 
                        </select>
                      </div>
                      <div>
                      <select class=" blue-input-frame " aria-label="Default select example"  name="awake_minutes" id="awake_minutes">
                        <% for(var pair of WAKE_TIME_MINUTES){ 
                            if(post) selected_var = (pair[1] == post.minutes_awake) ? "selected" : "";
                          %>
                            <option <%= selected_var %> value="<%= pair[0] %>"><%= pair[1] %> minuter</option> 
                          <% } %> 
                      </select>
                      </div>

                </div>
        </div>

<div id="awake_time_warning" class="alert alert-danger collapse" role="alert"></div>


<hr class="linje-ny-dagbok">






  <!-- SKATTAD SÖMNKVALITÈT -->

      <div class="mb-4 row">
        <div class="col-10">
          <label class="question-label" for="rate">Skattad sömnkvalitét</label>
            </div>
        <div class="col-2">
          <button type="button" class="info" data-bs-toggle="collapse" data-bs-target="#collapseKvalitet" aria-expanded="false" aria-controls="collapseKvalitet">!</button>
        </div>
      </div>
      <div class="mb-4 row">
            <div class="collapse" id="collapseKvalitet">
              <div class="card card-body infocard">
                    <i>  <b>Förtydligande:</b> Saker som kan påverka din sömnkvalitet är t.ex. om du har vaknat mycket under natten eller om du har du sovit oroligt.
                    </i>
              </div>
            </div>
        </div>
      <div class="mb-4 row">
        <div class="col stars">
          <div class="rate">
              <input type="radio" id="star5" name="rate" value="5" <% if(post && post.rate == 5){ %> checked=checked <% } %>/>
              <label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="rate" value="4" <% if(post && post.rate == 4){ %> checked=checked <% } %>/>
              <label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="rate" value="3" <% if(post && post.rate == 3){ %> checked=checked <% } %>/>
              <label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="rate" value="2" <% if(post && post.rate == 2){ %> checked=checked <% } %>/>
              <label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="rate" value="1" <% if(post && post.rate == 1){ %> checked=checked <% } %>/>
              <label for="star1" title="text">1 star</label>
         </div>

        </div>

      </div>

<div id="rate_warning" class="alert alert-danger collapse" role="alert"></div>


<hr class="linje-ny-dagbok">

<ul id="errors_collection_warning" class="alert-danger" role="alert"></ul>

    <div class="row">
      <div class="col">
          <div class="mb-4">
            
                <a href="/" class="btn btn-primary btn-avbryt" >Avbryt</a>


            <input type="submit" value="Spara" id="save_diary_button" class="btn btn-primary btn-spara collapse">
          </div>


        </div>
      </div>

</form>

</div>
</div>


    <% if(post){ %>
      <button class="mb-4 mt-3 delete-post-button delete-me" value="<%= post_id %>">
        Radera inlägg
      </button>
    <% } %>
    </div>  
  </div>
</div>

<script type="text/javascript" src="/javascripts/diary.js"></script>
<script type="text/javascript" src="/javascripts/formvalidation.js?v=2"></script>

