<h1>DIN SÖMNDAGBOK</h1>

<div class="row">
  <div class="col-sm-12 col-md-7">
      <input type="hidden" name="postsdata" id="hidden_postdata" value="<%= JSON.stringify(posts) %>"> 
      <%- include('_diary_form') %>    
  </div>
  
  <div class="col col-md-5">
    <canvas id="sleepcanvas" width="80" height="50"></canvas>
    <table class="table m-3">
      <tr>
        <td>Datum</td>
        <td>Sänggång</td>
        <td>Klev upp</td>
        <td>Skattning</td>
      </tr>

      <% table.forEach( function(date){ %>
        <tr>
          <td><%= date[0] %></td>
          <td><%= date[1] %></td>
          <td><%= date[2] %></td>
          <td><%= date[3] %></td>
        </tr>
      <% }); %>
      
    </table>
  </div>
</div>

<script type="text/javascript" src="/javascripts/sleepgraph.js"></script>
