<%- include('_head') %>


<div class="container">
  <% if(flash && flash.length > 0){ %>
    <div class="alert fixed-top" role="alert">
      <%= flash %>
    </div>
  <% } -%>



    <div class="row">
      <div class="col-sm-12">
        <h1>DIN SÖMNDAGBOK</h1>
        <hr class="linje-rubrik">

        <p class="hello" > Hej och välkommen tillbaka </p>
      </div>
    </div>

    <!-- Översta raden: Sömnfönster | Notiser -->
    <div class="row">
       
        <div class="col-sm">
          <div id="streaks_div" class="card card-background">
            <div class="card-body streak-card">
              
              <h2> Registrera nytt inlägg </h2>
                          
              <div class="row">
                <div class="col">
                  <div class="mb-4">
                    <a href="/posts/new" class="btn btn-primary btn-skapa btn-spara">
                      <i class="fa fa-plus"></i> Registrera sömn 
                    </a>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>

        <div class="col-sm">
            <div id="streaks_div" class="card card-background">
              <div class="card-body streak-card">
                <h2> Notiser </h2>
                <%- include('_streaks') %>
              </div>
            </div>
          </div>
    </div>


    <div class="row collapse">
      <div class="col-sm-6">
        <%- include('_sleep_window') %>
      </div>
    </div>




    

    <div class="row">
      <!-- Veckans Inlägg -->
      <div class="col" id="col-for-posts">
        <%- include('_veckans_inlagg') %>
      </div>
    </div> 


    <div class="btn-see">
      <button class="btn btn-primary btn-avbryt" data-bs-toggle="collapse" data-bs-target="#all_posts_div"> Se mer </button>
    </div>

    <div class="row collapse" id="all_posts_div">
      <div class="col">
        <%- include('_posts_table') %>
      </div>
    </div>

    <!-- GRAPH -->
    <div class="row collapse" id="graphrow">
        <div class="col"></div>
        <div class="col-12 col-md-6" id="col-for-graph">

            <div class="card card-inlagg inlagg-expanded graph-distance">
              <div class="card-body">
                  <canvas id="sleep-efficiency-canvas"></canvas>
                  <p class="graph-text">
                    Genomsnittlig sömneffektivitet beräknas när du har
                    registrerat din sömn vid minst fyra tillfällen under en kalendervecka
                     (mån-sön). För att se din exakta sömneffektivitet kan du hålla musen över en punkt på linjen.
                     Tittar du via en mobiltelefon kan du istället klicka på en punkt.
                  </p>
              </div>
            </div>

            <div class="card card-inlagg inlagg-expanded graph-distance">
              <div class="card-body">
                  <canvas id="avg-sleep-time-canvas"></canvas>
                  <p class="graph-text">
                    Genomsnittlig sömntid beräknas när du har
                    registrerat din sömn vid minst fyra tillfällen under en kalendervecka
                     (mån-sön). För att se din exakta sömntid kan du hålla musen över en punkt på linjen.
                     Tittar du via en mobiltelefon kan du istället klicka på en punkt.
                  </p>
              </div>
            </div>

        </div>

        <div class="col"></div>
    </div>


</div> <!-- / CONTAINER -->

<script type="text/javascript" src="/javascripts/diary.js"></script>
<script src="/javascripts/chartjs-plugin-annotation.min.js" crossorigin="anonymous"></script>
<script src="/javascripts/sleepgraph.js" crossorigin="anonymous"></script>
<script src="/javascripts/browser-detect.js"></script>
