<div class="container" id="index_container" data-posts="<%= JSON.stringify(data_table) %>">


    <div class="row">
      <div class="col-sm-12">
        <h1>DIN SÖMNDAGBOK</h1>
        <hr class="linje-rubrik">

        <p class="hello" > Hej och välkommen tillbaka </p>
        </div>
    </div>

    <!--                      Översta raden                   -->
    <div class="row">

      <!-- Veckans Tips och Streaks-->
      <div class="col-sm">
          <%- include('_veckans_tips') %>
      </div>


      <!-- Streaks-->
      <div class="col-sm">
              <%- include('_streaks') %>
      </div>

    </div>


    <div class="row"> <!-- collapse -->

      <!-- Nytt inlägg -->
      <div class="col-md-6 offset-md-3">
          <h3 class="mb-4">Skapa ny sömnregistrering</h3>
          <div class="message-div"></div>
          <%- include('_diary_form') %>
      </div>


    </div>

    <div class="row">

      <!-- Veckans Inlägg -->
      <div class="col">
          <%- include('_veckans_inlagg') %>
      </div>



    </div>


</div> <!-- / CONTAINER -->
