<%- include('_head') %>
<div class="container">
  <div class="row">
    <div class="col">
      
      <% if (link) { -%>
        <div class="mt-4">
          
        <h1>Länkar till ny dagbok: </h1>
        <h2>Dessa länkar ges till användaren</h2>
        <p><%= link %></p>        
        <p> <a href="<%=link%>"> <%=link%> </a> </p>
        
        <h2>Dessa länkar behåller admin/behandlare</h2>
        <strong>obs! Dessa länkar visas endast en gång och kan inte återställas!</strong>
        <p>Admin-login (ge ej ut denna till patient) </p>
        <p><%= link %>?admin=<%=hash %></p>        
        <p> <a href="<%=link%>?admin=<%=hash %>"> <%=link%>?admin=<%=hash %> </a> </p>
        <a href="/users" class="btn btn-large btn-primary"> Tillbaka </a>    
        </div>

      <% } else { -%>
        <form method="post" action="/users">
          <h3>Tryck här för att starta upp en tom dagbok</h3>
          <input type="submit" name="createuser" class="btn-spara btn btn-large" value="Skapa ny dagbok">
        </form>
      <% } -%>

    </div>
  </div>
</div>
